/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville";
}

/* fonts */
@font-face {
  font-family: "Libre Baskerville Regular", "Libre Baskerville Bold";
  src: url(../assets/fonts/Libre_Baskerville);
}
/* estilos globales */
body {
  background-color: #e5dbd8 !important;
}

p {
  margin: 10px 0;
}

.btn-choc {
  display: inline-block;
  font-size: 18px;
  background-color: #986e62;
  color: #fefcfb;
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.btn-choc:hover {
  background-color: #e5dbd8;
  color: #7e4a3b;
}

.nav-bg {
  background-color: #cbb7b1;
}

/* navbar */
header #navbar {
  font-weight: bold;
  display: flex;
  height: 80px;
  background-color: #cbb7b1;
  position: relative;
  z-index: 2;
}
header #navbar .logo {
  width: 8rem;
  padding: 15px;
}
header #navbar ul {
  display: flex;
  list-style: none;
}
header #navbar ul li a {
  font-size: 1.2rem;
  color: #7e4a3b;
  padding: 20px;
}
header #navbar ul li a:hover {
  color: #fefcfb;
}
header #navbar ul li a.current {
  color: #fefcfb;
  background-color: #bfa8a2;
}

/* home page */
/* showcase */
.showcase {
  background: url(../../assets/images/home/showcase.png) no-repeat center center/cover;
  height: 100vh;
  position: relative;
}
.showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(229, 219, 216, 0.3);
}
.showcase .showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}
.showcase * {
  z-index: 1;
}

/* shop section */
.home-shop h1 {
  font-weight: bold;
  margin: 60px 30px 15px 30px;
  text-align: center;
  font-size: 34px;
  color: #7e4a3b;
}
.home-shop .contenedor {
  display: grid;
  height: 90vh;
  margin: 20px;
  grid-template-columns: repeat(4, auto);
}
.home-shop .shop-sec {
  position: relative;
  padding: 20px 10px;
  margin: 10px 10px;
  justify-content: space-around;
  align-items: center;
}
.home-shop .shop-sec img {
  width: 100%;
  height: 100%;
}
.home-shop .shop-sec .shop-name {
  position: absolute;
  font-size: 1.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fefcfb;
}

/* shop page */
#shop-page h1 {
  font-weight: bold;
  margin: 40px 0 0 0;
  text-align: center;
  font-size: 40px;
  color: #7e4a3b;
}
#shop-page .contenedor {
  margin: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  row-gap: 15px;
  column-gap: 15px;
  justify-content: center;
}
#shop-page .contenedor .shop-item {
  border: 1px solid #986e62;
  border-radius: 5px;
}
#shop-page .contenedor .shop-item img {
  padding: 5px;
  width: 100%;
  height: 100%;
  position: relative;
}
#shop-page .contenedor .shop-item .info-item {
  color: #693b2f;
  padding: 10px;
  line-height: 12px;
}

/* collections page */
#collection {
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(4, auto);
}
#collection .col-item {
  position: relative;
}
#collection .col-item img {
  width: 100%;
  height: 100%;
}
#collection .col-item .col-name {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fefcfb;
}

/* about page */
#about .about-info {
  padding: 100px 150px 90px 150px;
  display: block;
  text-align: justify;
}
#about .about-info .about-heading {
  padding-bottom: 10px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #ad938d;
}
#about .about-info p {
  color: #693b2f;
  font-size: 1.3rem;
}
#about .about-img {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}
#about .about-img img {
  width: 60vh;
}

/* contact page */
#contact-form .container {
  padding: 90px;
}
#contact-form .container h1 {
  color: #7e4a3b;
  font-weight: bold;
}
#contact-form .container p {
  color: #693b2f;
}
#contact-form .container .form-group {
  margin-bottom: 20px;
}
#contact-form .container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #693b2f;
}
#contact-form .container .form-group input, #contact-form .container .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px #7e4a3b solid;
}
#contact-form .container .form-group textarea {
  height: 200px;
}

/* footer */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  background-color: #cbb7b1;
  color: #fefcfb;
  font-size: 13px;
}
#footer .social a {
  color: #e5dbd8;
  margin-right: 20px;
}
#footer .social a:hover {
  color: #986e62;
}

/* media queries */
/* mobile */
@media screen and (max-width: 320px) {
  #navbar {
    flex-direction: column;
  }
  #navbar ul li a {
    text-align: center;
  }
  .showcase {
    height: 50vh;
  }
  .showcase .btn-choc {
    font-size: 0.75rem;
    text-align: center;
    height: 15%;
    width: 50%;
  }
  .home-shop h1 {
    font-size: 1.8rem;
  }
  .home-shop .contenedor {
    margin: 5px;
  }
  #shop-page h1 {
    font-size: 1.8rem;
  }
  #shop-page .contenedor {
    display: block;
    padding: 0;
  }
  #shop-page .contenedor .shop-item {
    margin-bottom: 15px;
  }
  #about .about-info {
    padding: 10px;
    text-align: start;
  }
  #about .about-info .about-heading {
    font-size: 1rem;
    padding: 0;
  }
  #about .about-info p {
    font-size: 0.5rem;
  }
  #contact-form .container {
    padding: 30px;
  }
}
/* tablet */
@media screen and (max-width: 768px) {
  #navbar a {
    margin: 0;
  }
  .home-shop .contenedor {
    grid-template-columns: 1fr;
    height: 25%;
  }
  .home-shop .contenedor .shop-sec {
    padding: 10px;
    margin: 10px;
  }
  .home-shop .contenedor .shop-sec .shop-name {
    font-size: 1rem;
  }
  #collection {
    height: 25%;
    grid-template-columns: 1fr;
  }
  #collection .col-name p {
    font-size: 1rem;
  }
  #shop-page .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
  #about .about-info {
    padding: 50px;
  }
  #about .about-info .about-heading {
    font-size: 1.8rem;
  }
  #about .about-info p {
    font-size: 1.2rem;
  }
  #about .about-img {
    display: block;
  }
  #about .about-img img {
    width: 75%;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
