/* collections page */
#collection {
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(4, auto);
  .col-item {
    position: relative;
    img {
      @include sizes(100%, 100%);
    }
    .col-name {
      position: absolute;
      font-size: 1.25rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-light;
      &:hover {
        font-size: 1.5rem;
      }
    }
  }
}