/* contact page */
#contact-form {
  .container {
    padding: 90px;
    h1 { 
      @extend .title;
      text-align: left;
    }
    p { color: $color-darkest;}
    .form-group {
      margin-bottom: 20px;
      label {
        display: block;
        margin-bottom: 5px;
        color: $color-darkest;
      }
      input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px $color-dark solid;
      }
      textarea {
        height: 200px;
      }
    }
  }
}