/* home page */
/* showcase */
.showcase {
  background: url(../../assets/images/home/showcase.png) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(229, 219, 216, 0.3);
  }
  .showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
  }
  & * { z-index: 1;}
}

/* shop section */
.home-shop {
  h1 {
    font-weight: bold;
    margin: 60px 30px 15px 30px;
    text-align: center;
    font-size: 34px;
    color: #7e4a3b;
  }
  .contenedor {
    display: grid;
    height: 90vh;
    margin: 20px;
    grid-template-columns: repeat(4, auto);
  }
  .shop-sec {
    position: relative;
    padding: 20px 10px;
    margin: 10px 10px;
    justify-content: space-around;
    align-items: center;
    img {
      width: 100%; 
      height: 100%;
    }
    .shop-name {
      position: absolute;
      font-size: 1.3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fefcfb;
    }
  }
}