/* shop page */
#shop-page {
  h1 {
    font-weight: bold;
    margin: 40px 0 0 0;
    text-align: center;
    font-size: 40px;
    color: #7e4a3b;
  }
  .contenedor {
    margin: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, auto);
    row-gap: 15px;
    column-gap: 15px;
    justify-content: center;
    .shop-item {
      border: 1px solid #986e62;
      border-radius: 5px;
      img {
        padding: 5px;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .info-item {
        color: #693b2f;
        padding: 10px;
        line-height: 12px;
      }
    }
  }
}