/* footer */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  background-color: $color-beige;
  color: $color-light;
  font-size: 13px; 
  .social {
    a {
      color: $color-light;
      margin-right: 20px;
      &:hover {
        color: $color-choc;
      }
    }
  }
}